<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:"Calibri Bold",serif;font-size:20.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:"Calibri Bold",serif;font-size:20.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:"Calibri",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:"Calibri",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_017{font-family:"Calibri",serif;font-size:12.1px;color:rgb(4,98,193);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_017{font-family:"Calibri",serif;font-size:12.1px;color:rgb(4,98,193);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:"Calibri Bold Italic",serif;font-size:12.1px;color:rgb(31,78,121);font-weight:bold;font-style:italic;text-decoration: none}
div.cls_006{font-family:"Calibri Bold Italic",serif;font-size:12.1px;color:rgb(31,78,121);font-weight:bold;font-style:italic;text-decoration: none}
span.cls_007{font-family:"Calibri Italic",serif;font-size:12.1px;color:rgb(31,78,121);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_007{font-family:"Calibri Italic",serif;font-size:12.1px;color:rgb(31,78,121);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_008{font-family:"Calibri Bold",serif;font-size:14.1px;color:rgb(192,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:"Calibri Bold",serif;font-size:14.1px;color:rgb(192,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_009{font-family:"Calibri Bold",serif;font-size:12.1px;color:rgb(31,78,121);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_009{font-family:"Calibri Bold",serif;font-size:12.1px;color:rgb(31,78,121);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:"Calibri Italic",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_011{font-family:"Calibri Italic",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_013{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_014{font-family:"Calibri",serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_014{font-family:"Calibri",serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_015{font-family:"Calibri",serif;font-size:12.1px;color:rgb(31,78,121);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_015{font-family:"Calibri",serif;font-size:12.1px;color:rgb(31,78,121);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="cv/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="cv/background1.jpg" width=595 height=841></div>
<div style="position:absolute;left:42.60px;top:47.80px" class="cls_002"><span class="cls_002">Taylor Tran</span></div>
<div style="position:absolute;left:42.60px;top:98.82px" class="cls_003"><span class="cls_003"> </span><A HREF="https://www.google.com/maps?q=empire+apartments&safe=strict&sxsrf=ALeKk02XY5ReO6cCiVp-d_kphYXLNwW81Q:1617159029762&gs_lcp=Cgdnd3Mtd2l6EANQvAxYvAxgiQ5oAnAAeACAAYACiAGAApIBAzItMZgBAKABAaoBB2d3cy13aXrAAQE&uact=5&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiq2tHtwtnvAhVLbn0KHR66DQIQ_AUoAXoECAIQAw" target="_blank">1021/21 Whitaker Place, Grafton, Auckland</A> </div>
<div style="position:absolute;left:42.60px;top:117.90px" class="cls_003"><span class="cls_003">Phone: 0204204334</span></div>
<div style="position:absolute;left:42.60px;top:134.70px" class="cls_003"><span class="cls_003">Email: </span><A HREF="mailto:taylortran.it@gmail.com">taylortran.it@gmail.com</A> </span></div>
<div style="position:absolute;left:42.60px;top:151.50px" class="cls_003"><span class="cls_003">LinkedIn: </span><A HREF="https://www.linkedin.com/in/taylor-tran-0024/" target="_blank">https://www.linkedin.com/in/taylor-tran-0024/</A> </span></div>
<div style="position:absolute;left:42.60px;top:193.26px" class="cls_003"><span class="cls_003">Hi, I am a Software Development student from AUT. I started learning programming in 2019 and had</span></div>
<div style="position:absolute;left:42.60px;top:210.06px" class="cls_003"><span class="cls_003">created four projects related to </span><span class="cls_006">Website</span><span class="cls_007"> </span><span class="cls_003">and</span><span class="cls_007"> </span><span class="cls_006">Blockchain</span><span class="cls_007"> </span><span class="cls_003">development.</span></div>
<div style="position:absolute;left:42.60px;top:244.98px" class="cls_003"><span class="cls_003">Currently, I am working as a peer mentor in my university and want to apply for a job after graduation -</span></div>
<div style="position:absolute;left:42.60px;top:261.81px" class="cls_003"><span class="cls_003">November 2021.</span></div>
<div style="position:absolute;left:42.60px;top:296.61px" class="cls_008"><span class="cls_008">Projects</span></div>
<div style="position:absolute;left:42.60px;top:322.29px" class="cls_003"><span class="cls_003">Pure - A blockchain social media app with React Native, .NET Core API, and Ethereum</span></div>
<div style="position:absolute;left:42.60px;top:350.25px" class="cls_003"><span class="cls_003">Finappster - An online platform enabling your investment provider to show you the positive impacts of</span></div>
<div style="position:absolute;left:42.60px;top:372.21px" class="cls_003"><span class="cls_003">your investments (AUT project, with CEO & Founder of Finappster™)</span></div>
<div style="position:absolute;left:42.60px;top:400.29px" class="cls_003"><span class="cls_003">Get out of Here! - A 3D multiplayer escape game in Unity</span></div>
<div style="position:absolute;left:42.60px;top:428.27px" class="cls_003"><span class="cls_003">Call Me Santa Claus - A voice bot can do tasks and manipulate LED-light using C# and Arduino</span></div>
<div style="position:absolute;left:42.60px;top:463.07px" class="cls_008"><span class="cls_008">Work experience</span></div>
<div style="position:absolute;left:42.60px;top:488.75px" class="cls_009"><span class="cls_009">Peer Mentor</span><span class="cls_003">, Auckland University of Technology</span></div>
<div style="position:absolute;left:439.54px;top:488.75px" class="cls_003"><span class="cls_003">Feb 2020 - current</span></div>
<div style="position:absolute;left:42.60px;top:510.71px" class="cls_003"><span class="cls_003">Advise students around academic subjects and papers</span></div>
<div style="position:absolute;left:42.60px;top:532.67px" class="cls_003"><span class="cls_003">Improve students’ skills such as time management</span></div>
<div style="position:absolute;left:42.60px;top:576.59px" class="cls_009"><span class="cls_009">Video Tutorial Creator</span><span class="cls_003">, Develoft</span></div>
<div style="position:absolute;left:439.54px;top:576.59px" class="cls_003"><span class="cls_003">Oct - Nov 2020</span></div>
<div style="position:absolute;left:42.60px;top:598.55px" class="cls_003"><span class="cls_003">Designed content and video on How to make a game in Unity</span></div>
<div style="position:absolute;left:42.60px;top:620.54px" class="cls_003"><span class="cls_003">Explained things in detail and made them easy-to-understand</span></div>
<div style="position:absolute;left:42.60px;top:659.42px" class="cls_009"><span class="cls_009">Junior Software Developer</span><span class="cls_003">, Develoft</span></div>
<div style="position:absolute;left:439.54px;top:659.42px" class="cls_003"><span class="cls_003">Aug - Sep 2020</span></div>
<div style="position:absolute;left:42.60px;top:681.38px" class="cls_003"><span class="cls_003">Developed an AI assistant application that can create meetings and</span></div>
<div style="position:absolute;left:42.60px;top:703.34px" class="cls_003"><span class="cls_003">reschedule calendar by reading customers’ email</span></div>
<div style="position:absolute;left:42.60px;top:747.26px" class="cls_009"><span class="cls_009">Guest speaker</span><span class="cls_003">, UP - International College</span></div>
<div style="position:absolute;left:439.54px;top:747.26px" class="cls_003"><span class="cls_003">2019</span></div>
<div style="position:absolute;left:42.60px;top:769.22px" class="cls_003"><span class="cls_003">I was invited to talk about AUT as a tertiary student</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:851px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="cv/background2.jpg" width=595 height=841></div>
<div style="position:absolute;left:42.60px;top:48.16px" class="cls_008"><span class="cls_008">Education</span></div>
<div style="position:absolute;left:42.60px;top:73.86px" class="cls_003"><span class="cls_003">Bachelor of Computer and Information Sciences</span></div>
<div style="position:absolute;left:42.60px;top:96.66px" class="cls_003"><span class="cls_003">Auckland University of Technology </span><span class="cls_011">(so far A+ average)</span></div>
<div style="position:absolute;left:42.60px;top:119.46px" class="cls_003"><span class="cls_003">Expected graduation November 2021</span></div>
<div style="position:absolute;left:42.60px;top:165.18px" class="cls_003"><span class="cls_003">AUT Certificate in Foundation Studies, ACG (UP now)</span></div>
<div style="position:absolute;left:438.70px;top:165.18px" class="cls_003"><span class="cls_003">2018</span></div>
<div style="position:absolute;left:42.60px;top:199.98px" class="cls_008"><span class="cls_008">Key Skills</span></div>
<div style="position:absolute;left:42.60px;top:225.66px" class="cls_012"><span class="cls_012">•</span><span class="cls_013"> </span><span class="cls_009">  Teamwork</span><span class="cls_014">: </span><span class="cls_003">After working with </span><span class="cls_007">hardworking </span><span class="cls_003">and</span><span class="cls_007"> lazy students</span><span class="cls_003">, I learned how to </span><span class="cls_007">privately suggest</span></div>
<div style="position:absolute;left:60.62px;top:251.37px" class="cls_007"><span class="cls_007">people </span><span class="cls_003">do or </span><span class="cls_007">fix tasks</span><span class="cls_003">, </span><span class="cls_007">publicly give</span><span class="cls_003"> </span><span class="cls_007">compliments,</span><span class="cls_003"> and</span><span class="cls_007"> resolve conflicts</span><span class="cls_003">.</span></div>
<div style="position:absolute;left:42.60px;top:274.05px" class="cls_012"><span class="cls_012">•</span><span class="cls_013"> </span><span class="cls_009">  Communication skill</span><span class="cls_003">: Being a leader, I can </span><span class="cls_007">discuss with the client</span><span class="cls_015"> </span><span class="cls_003">what the team can and cannot do</span></div>
<div style="position:absolute;left:60.62px;top:295.89px" class="cls_003"><span class="cls_003">and </span><span class="cls_007">convey the team ideas</span><span class="cls_003"> to the client to decide the upcoming features.</span></div>
<div style="position:absolute;left:42.60px;top:318.57px" class="cls_012"><span class="cls_012">•</span><span class="cls_013"> </span><span class="cls_009">  Listening</span><span class="cls_003">: </span><span class="cls_007">People cannot work together without respect</span><span class="cls_003">. I understand how important to listen to</span></div>
<div style="position:absolute;left:60.62px;top:340.53px" class="cls_003"><span class="cls_003">other’s ideas, opinions, and client’s needs that can bring success to the overall product.</span></div>
<div style="position:absolute;left:42.60px;top:363.21px" class="cls_012"><span class="cls_012">•</span><span class="cls_013"> </span><span class="cls_009">  Learning</span><span class="cls_003">: After two years, I get used to </span><span class="cls_007">understanding huge code</span><span class="cls_003"> from people and </span><span class="cls_007">learning new</span></div>
<div style="position:absolute;left:60.62px;top:385.05px" class="cls_007"><span class="cls_007">technologies </span><span class="cls_003">to adapt to customer’s requirements.</span></div>
<div style="position:absolute;left:42.60px;top:407.85px" class="cls_012"><span class="cls_012">•</span><span class="cls_013"> </span><span class="cls_009">  Hardworking attitude</span><span class="cls_003">: If a task is necessary, I will try to </span><span class="cls_007">get it done as soon as possible</span><span class="cls_003"> and </span><span class="cls_007">think</span></div>
<div style="position:absolute;left:60.62px;top:429.71px" class="cls_007"><span class="cls_007">about the next step</span><span class="cls_003">.</span></div>
<div style="position:absolute;left:42.60px;top:450.35px" class="cls_012"><span class="cls_012">•</span><span class="cls_013"> </span><span class="cls_009">  Enthusiastic</span><span class="cls_003">:</span><span class="cls_014"> </span><span class="cls_003">As a graduate, there are many things to learn and try, so that at the end I can happily</span></div>
<div style="position:absolute;left:60.62px;top:474.23px" class="cls_003"><span class="cls_003">observe people around me using my software, press on my buttons, and fill in my forms with their</span></div>
<div style="position:absolute;left:60.62px;top:496.31px" class="cls_003"><span class="cls_003">happiness.</span></div>
<div style="position:absolute;left:42.60px;top:530.27px" class="cls_008"><span class="cls_008">Achievement</span></div>
<div style="position:absolute;left:42.60px;top:555.83px" class="cls_003"><span class="cls_003">1st Place in Statistics - AUT Certificate in Foundation Studies (2018)</span></div>
<div style="position:absolute;left:42.60px;top:577.91px" class="cls_003"><span class="cls_003">The Best Grade Student award at school by GPA, Vietnam (2018)</span></div>
<div style="position:absolute;left:42.60px;top:599.87px" class="cls_003"><span class="cls_003">The Third award of Vietnamese Southern Mathematical Olympiad, Vietnam (2017)</span></div>
<div style="position:absolute;left:42.60px;top:621.86px" class="cls_003"><span class="cls_003">Third prize in Information Technology at school, Vietnam (2017)</span></div>
<div style="position:absolute;left:42.60px;top:656.54px" class="cls_008"><span class="cls_008">Interests</span></div>
<div style="position:absolute;left:42.60px;top:679.82px" class="cls_003"><span class="cls_003">Listening to audiobooks</span></div>
<div style="position:absolute;left:42.60px;top:701.78px" class="cls_003"><span class="cls_003">Learning Japanese</span></div>
<div style="position:absolute;left:42.60px;top:723.74px" class="cls_003"><span class="cls_003">Playing the bamboo flute</span></div>
<div style="position:absolute;left:42.60px;top:761.06px" class="cls_008"><span class="cls_008">Referee</span></div>
<div style="position:absolute;left:42.60px;top:784.24px" class="cls_011"><span class="cls_011">(Provided when contact)</span></div>
</div>

</body>
</html>
